.header {
    color: black;
    padding: 20px;
    text-align: center;
    font-size: 50px;
}

.space {
    padding: 15px;
}

.wrapper {
    text-align: center;
    padding: 5px;
}

.wrapper ul {
    text-align: center;
}

.wrapper ul li {
    display: inline;
}

.image {
    height: 80px;
    width: 80px;
}

.Sbuttons {
    width: 15%;
    border: 2px solid maroon;
    font-size: 19px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: darkgray;
    color: black;
    border-radius: 15px;
    transition: .3s;
}

.buttons {
    width: 30%;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: darkgray;
    color: black;
    border-radius: 15px;
    border: 2px solid maroon;
    transition: .3s;
}

.Sbuttons:hover {
    background-color: maroon;
}

.buttons:hover {
    background-color: maroon;
}

.grad {
    background-image: linear-gradient(darkred, red);
    height: 100%;
}

#myInput {
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

#myInput:focus {outline: 3px solid black;}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    width: 30%;
    text-align: center;
    background-color: #f6f6f6;
    overflow: auto;
    border: 1px solid black;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: blue;}

.show {display: block;}

.material-icons.md-24 { font-size: 20px; }