table {
    border-collapse: collapse;
    padding: 10px;
    width: 100%;
    text-align: center;
    font-size: 16px;
}

table th, td {
    border: 1px solid black;
    font-size: 16px;
}

.forms {
    text-align: center;
}

#nameBox {
    width: 30%;
    text-align: center;
    border: 5px solid maroon;
    padding: 10px;
    margin: auto;
}